@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

* {
  line-height: 1;
}

.lego-play-pattern {
  background: radial-gradient(circle at top left,transparent 9%, #c81300 10% ,#c81300 15% , transparent 16%) , 
  radial-gradient(circle at bottom left,transparent 9%, #c81300 10% ,#c81300 15% , transparent 16%), 
  radial-gradient(circle at top right ,transparent 9%, #c81300 10% ,#c81300 15% , transparent 16%) , 
  radial-gradient(circle at bottom right,transparent 9%, #c81300 10% ,#c81300 15% , transparent 16%),
  radial-gradient(circle, transparent 25%, #f2dc08  26%),
  linear-gradient(45deg, transparent 46%, #c81300 47%, #c81300 52%, transparent 53%), 
  linear-gradient(135deg, transparent 46%, #c81300 47%, #c81300 52%, transparent 53%);
  background-size: 4em 4em;
  background-color: #f2dc08;
  opacity: 0.75
}

.patternpad-01 {
  background-image: url('/patterns/svg/patternpad-01.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.patternpad-02 {
  background-image: url('/patterns/svg/patternpad-02.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.patternpad-03 {
  background-image: url('/patterns/svg/patternpad-03.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.patternpad-yellow-1 {
  background-image: url('/patterns/svg/patternpad-yellow-1.svg');
  background-repeat:repeat;
  background-size:contain;
  background-position: center;
}

.patternpad-yellow-2 {
  background-image: url('/patterns/svg/patternpad-yellow-2.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.patternpad-orange-1 {
  background-image: url('/patterns/svg/patternpad-orange-1.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.glassmorph {
  background: rgba( 237, 241, 9, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg-flat-yellow {
  background: #edf109;
}

.neomorph-btn {
  background: #edf109;
  box-shadow:  26px 26px 68px #adb007,
             -26px -26px 68px #ffff0b;
}

.bg-gradient-01 {
  background-color:hsla(295,85%,9%,1);
background-image:
radial-gradient(at 52% 46%, #3e232d 0px, transparent 50%),
radial-gradient(at 30% 0%, #0f1d2e 0px, transparent 50%),
radial-gradient(at 16% 77%, #442232 0px, transparent 50%),
radial-gradient(at 91% 43%, #19293e 0px, transparent 50%),
radial-gradient(at 84% 90%, #4f171b 0px, transparent 50%);
}

.bg-background-for-pink {
  background: linear-gradient(117deg,#3e232d,#0f1d2e,#442232,#19293e,#4f171b);
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
}

.bg-gradient-for-blue {
  background-color:hsla(200,61%,47%,1);
background-image:
radial-gradient(at 26% 4%, hsla(201,76%,67%,1) 0px, transparent 50%),
radial-gradient(at 81% 84%, hsla(214,87%,79%,1) 0px, transparent 50%),
radial-gradient(at 38% 60%, hsla(105,64%,77%,1) 0px, transparent 50%),
radial-gradient(at 32% 41%, hsla(253,79%,77%,1) 0px, transparent 50%),
radial-gradient(at 44% 91%, hsla(23,63%,78%,1) 0px, transparent 50%);
}

.bg-gradient-for-blue-2 {
  background: linear-gradient(117deg,#1e99c8,#badce9,#a66cf5,#273773,#0c1d5f);
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
}

.bg-gradient-for-yellow-1 {
  background-color:hsla(59,75%,50%,1);
background-image:
radial-gradient(at 47% 16%, hsla(53,60%,74%,1) 0px, transparent 50%),
radial-gradient(at 12% 32%, hsla(158,88%,74%,1) 0px, transparent 50%),
radial-gradient(at 16% 70%, hsla(344,63%,69%,1) 0px, transparent 50%),
radial-gradient(at 68% 71%, hsla(345,70%,61%,1) 0px, transparent 50%),
radial-gradient(at 100% 45%, hsla(218,83%,60%,1) 0px, transparent 50%);
}

.bg-gradient-for-orange {
  background: linear-gradient(117deg,#8eb748,#e1853a,#0d5976,#03202b);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.no-outline:focus {
  outline: none;
}

.font-poppins {
  font-family: Poppins;
}

.font-rubik {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat", monospace;
  font-weight: 400;
  font-style: normal;
}

.font-tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}





.shadow-h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}

.shadow-h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

.gradient-background-anim-green {
    background: linear-gradient(254deg,#21e320,#fcc6a3,#35d769,#4971ae,#70636b);
    background-size: 300% 300%;
    animation: gradient-animation 25s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* svg header */
  .svg-header {
    display: block;
    font: 3em 'Montserrat';
    width: 100%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4AA8C0;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #1a1a1a;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #FFF232;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #E8488A;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #45AEEE;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}